Repository andrewcomputsci2019/sshman: changes, and which Woodpecker steps are due for each by the changed paths.
All: main-push-test, test-runer-ci

main-push-test:
  steps:
  - name: integration-test
    image: docker.io/golang:1.25
    commands:
    - apt-get update
    - apt-get install -y --no-install-recommends \ sshpass \ openssh-client \ netcat-openbsd
    - go build -o ssh-man ./cmd/sshman/
    - mkdir -p /test
  ...

test-runer-ci:
  steps:
  - name: unit-test
    image: docker.io/golang:1.25
    commands:
    - echo "Running unit tests"
    - go mod download
    - go test ./... -v

add connect vhs script gif
  resources/connect_host.gif
Due: none

add create key vhs gif
  resources/create_key.gif
Due: none

add delete host gif
  resources/delete_host.gif
Due: none

add edit host gif
  resources/edit_host.gif
Due: none

add rotate key gif
  resources/rotate_key.gif
Due: none

added demos to readme
  readme.md
Due: none

adjusted comparison logic from lexicographical to int adjusted version for robustness
  internal/updater/updater.go
Due: main-push-test, test-runer-ci

bump to v1.1.1
  internal/buildInfo/version.go
Due: main-push-test

removed auto re-run to just letting user know it updated. Added code to detect perms issues as well.
  cmd/sshman/sshman.go
  internal/updater/updater.go
Due: main-push-test, test-runer-ci

shifted tmp dir into os tmp location to avoid permission issue
  internal/updater/updater.go
Due: main-push-test, test-runer-ci

bump to v1.2.0
  internal/buildInfo/version.go
Due: main-push-test

Path conditions:
  main-push-test: any of: go.mod, go.sum, **/*.go, .woodpecker/main-push-test.yaml
  test-runer-ci: any of: go.mod, go.sum, **/*.go, .woodpecker/test-runer-ci.yaml, but not: internal/buildInfo/version.go
