Repository andrewcomputsci2019/sshman: changes, and which Woodpecker steps are due for each by the changed paths.
All: main-push-test, test-runer-ci

.woodpecker/main-push-test.yaml:

when:
  event: push
  branch: main
  path:
    include:
      - "go.mod"
      - "go.sum"
      - "**/*.go"
      - ".woodpecker/main-push-test.yaml"

services:
  - name: ssh-server
    image: docker.io/linuxserver/openssh-server
    environment:
      PASSWORD_ACCESS: "true"
      USER_PASSWORD: "password"
      USER_NAME: "test"
steps:
  - name: integration-test
    image: docker.io/golang:1.25
    commands:
      # install required
      - apt-get update
      - apt-get install -y --no-install-recommends \
        sshpass \
        openssh-client \
        netcat-openbsd
      # build
      - go build -o ssh-man ./cmd/sshman/
      - mkdir -p /test
      - |
        cat <<EOF >/test/ssh_config
        Host dev-test
            HostName ssh-server
            User test
            Port 2222
        EOF
      # wait for ssh server
      - |
        until nc -z ssh-server 2222; do
          sleep 1
        done
      # export required env vars
      - export TEST_SSH_HOST=ssh-server
      - export TEST_SSH_PORT=2222
      - export TEST_SSH_USER=test
      - export TEST_SSH_PASS=password
      # make script executable
      - chmod +x ./testContainer/binary_tester/run-tests.sh
      - ./testContainer/binary_tester/run-tests.sh

.woodpecker/test-runer-ci.yaml:

when:
  event: pull_request
  paths:
    include:
      - "go.mod"
      - "go.sum"
      - "**/*.go"
steps:
  - name: unit-test
    image: docker.io/golang:1.25
    commands:
      - echo "Running unit tests"
      - go mod download
      - go test ./... -v

updated apt runner
  .woodpecker/main-push-test.yaml
Due: main-push-test

forgot to move ssh-man to path
  .woodpecker/main-push-test.yaml
Due: main-push-test

updated release-builder-ci.yaml to build correct name binaries into zip and tar archives to reduce size
  .woodpecker/release-builder-ci.yaml
Due: none

added helpful debug message for build timings
  .woodpecker/release-builder-ci.yaml
Due: none

updated script to after breaking change
  .woodpecker/release-builder-ci.yaml
Due: none

whops fixed issue
  .woodpecker/release-builder-ci.yaml
Due: none

fixed issue with commit tag and trailing quotetation
  .woodpecker/release-builder-ci.yaml
Due: none

fixed escaping issue in pipeline
  .woodpecker/release-builder-ci.yaml
Due: none

working bash script for installing program on linux and macos
  install.sh
Due: none

updated readme
  readme.md
Due: none

Update readme.md
  readme.md
Due: none

Create LICENSE
  LICENSE
Due: none

added license badge to readme
  readme.md
Due: none

try to fix license link
  readme.md
Due: none

added updater helpers to get release versions
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: main-push-test, test-runer-ci

added check for update ability, now able to detect update present
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: main-push-test, test-runer-ci

added necessary dep for extraction of compress files
  go.mod
  go.sum
Due: main-push-test, test-runer-ci

migrated macOS to darwin to match release name
  internal/buildInfo/os_darwin.go
Due: main-push-test, test-runer-ci

added auto update and added unit test to make sure it works correctly
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: main-push-test, test-runer-ci

added auto update flag and dry run flag
  cmd/sshman/sshman.go
Due: main-push-test, test-runer-ci

updated auto updater to ask for permission to update, and bump internal version to v1.0.0
  cmd/sshman/sshman.go
  internal/buildInfo/version.go
Due: main-push-test, test-runer-ci

revert version to pass test
  internal/buildInfo/version.go
Due: main-push-test, test-runer-ci

bump version to v1.0.0
  .woodpecker/test-runer-ci.yaml
  internal/buildInfo/version.go
Due: main-push-test, test-runer-ci

update runner to exclude version changes
  .woodpecker/test-runer-ci.yaml
Due: none

bump version to v1.0.0
  internal/buildInfo/version.go
Due: main-push-test, test-runer-ci

fixed bug regarding issue with user conf, as conf string included trailing newline
  cmd/sshman/sshman.go
Due: main-push-test, test-runer-ci

version bump patch
  internal/buildInfo/version.go
Due: main-push-test, test-runer-ci

fixed problem in version checker
  internal/updater/updater.go
  internal/updater/updater_test.go
Due: main-push-test, test-runer-ci

fixed an issue regarding paths and dir existence
  cmd/sshman/sshman.go
Due: main-push-test, test-runer-ci

removed old todos
  internal/utils/init.go
Due: main-push-test, test-runer-ci

version bump to 1.1.0 fixing bugs related to version detection and user interaction
  internal/buildInfo/version.go
Due: main-push-test, test-runer-ci

update links to install script
  readme.md
Due: none

make install script executable by default
  install.sh
Due: none

record scripts
  vhs/record_adding_host.tape
  vhs/record_adding_host.vhs
  vhs/record_connecting_to_host.tape
  vhs/record_connecting_to_host.vhs
  vhs/record_creating_key.tape
Due: none

more record scripts
  vhs/record_creating_key.vhs
  vhs/record_deleting_host.tape
  vhs/record_deleting_host.vhs
  vhs/record_dynamic_sizing.vhs
  vhs/record_editing_host.tape
  vhs/record_editing_host.vhs
  vhs/record_key_rotation.tape
  vhs/record_key_rotation.vhs
Due: none

add, add host vhs gif
  resources/add_host.gif
Due: none
